.porfolio-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.porfolio-section .section-title {
  margin-bottom: 40px;
}

.porfolio-section .portfolio-filter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.porfolio-section .filter-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-black-600);
  transition: all 0.3s ease;
  text-transform: capitalize;
  opacity: 1;
}

.porfolio-section .filter-item:hover:not(.active) {
  opacity: 0.6;
}

.porfolio-section .filter-item.active {
  color: var(--skin-color);
}

.porfolio-section .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.porfolio-section .portfolio-item-inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.porfolio-section .portfolio-item-img img {
  border-radius: 5px;
  width: 100%;
}
.porfolio-section .portfolio-item-img {
  position: relative;
}
.porfolio-section .portfolio-item-img .view-project {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.porfolio-section .portfolio-item-details {
  display: none;
}

.porfolio-section .portfolio-item-inner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: var(--text-black-600);
  text-transform: capitalize;
}
