.porfolio-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.porfolio-section .portfolio-item {
  width: 30vw;
  height: 15vh;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.porfolio-section .section-title {
  margin-bottom: 40px;
}

.porfolio-section .portfolio-filter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.projects-container {
  width: 100vw;
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  /* margin: 0 5vw 25px; */
}

.portfolio-item-container {
  margin-bottom: 22vh;
}

.porfolio-section .filter-item {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-black-600);
  transition: all 0.3s ease;
  text-transform: capitalize;
  opacity: 1;
}

.porfolio-section .filter-item:hover:not(.active) {
  opacity: 0.6;
}

.porfolio-section .filter-item.active {
  color: var(--skin-color);
}
.porfolio-item.active {
  animation: fadeInTop 0.8s ease;
}

@media only screen and (max-width: 1000px) {
  .portfolio-popup {
    z-index: 10000;
  }

  .projects-container {
    flex-direction: column;
    width: 104vw;
  }
  .portfolio-item-container {
    margin-bottom: 28vh;
  }
  .porfolio-section .portfolio-item {
    width: 100vw;
    margin-left: 5%;
  }
  .pp-project-details .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .portfolio-popup .info {
    max-width: 100%;
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-black-600);
  }
  .portfolio-popup .description {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .pp-details .pp-project-details-btn {
    position: absolute;
    left: 85vw;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pp-details .pp-project-details-btn i {
    margin-left: -1px;
  }
}
