.intro-container {
  width: 100vw;
  height: 100vh;
  background: #000;
  background-image: url("../../img/star-wars-backgrounds-25.jpg");
  overflow: hidden;
}

.start {
  position: absolute;
  top: 40vh;
  left: 35vw;
  width: 30%;
  padding: 10px;
  color: #feda4a;
  background-color: transparent;
  font-size: 36px;
  letter-spacing: 6px;
  line-height: 50px;
  cursor: pointer;
  z-index: 2;
  border: none;
}

.start:hover {
  animation: hoverButton infinite 1s;
}

@keyframes hoverButton {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.start > span {
  color: rgb(75, 213, 238);
}

.stop {
  position: absolute;
  right: 4vw;
  bottom: 5vh;
  padding: 10px;
  color: #feda4a;
  background-color: transparent;
  font-size: 36px;
  letter-spacing: 6px;
  cursor: pointer;
  z-index: 2;
  border: none;
  text-decoration: underline transparent;
  transition: all 0.3s ease;
}

.stop:hover {
  text-decoration: underline;
}

.intro-logo {
  position: absolute;
  top: -25vh;
  opacity: 0;
  animation: logo ease-out 9s;
  z-index: 2;
}

@keyframes logo {
  0% {
    transform: scale(3);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.fade {
  position: relative;
  width: 100vw;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 100%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 100px;
  font-weight: 700 !important;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -115vh;
  width: 750px;
  padding: 10px;
  font-size: 36px;
  line-height: 50px;
  color: rgb(75, 213, 238);
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 70%;
  animation: crawl 90s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 50vh;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@media only screen and (max-width: 1000px) {
  .start {
    font-size: 24px;
    width: 80vw;
    top: 30vh;
    left: 13vw;
  }
  .stop {
    margin-bottom: 70vh;
    right: 4vh;
    font-size: 24px;
  }

  .crawl > .title {
    font-size: 30px;
    text-align: center;
    line-height: 70px;
  }
  .crawl > p {
    font-size: 50px;
    line-height: 70px;
    width: 150vw;
  }

  .intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: -140vh;
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
    text-align: start;
    color: rgb(75, 213, 238);
    animation: fade-in 1s;
  }
}
