.home-container {
  /* width: 100vw; */
  margin: auto;
  overflow-x: hidden !important;
}

.home-section {
  position: relative;
  margin: 0 15px;
}

.home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  min-width: 50%;
  padding: 0 15px;
}

.home-img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
}

.home-section .home-text p {
  color: var(--text-black-300);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
.home-section .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: var(--text-black-900);
  margin: 0;
}
.home-section .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-black-700);
  margin: 0;
  text-transform: capitalize;
}

.home-section .home-text .btn-1 {
  margin-top: 30px;
}

.home-section .home-img .img-box {
  min-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

@media only screen and (max-width: 1000px) {
  .home-img-text {
    display: flex;
    flex-direction: column;
    padding-top: 70px !important;
  }

  .home-text {
    margin-bottom: -15px;
  }

  .home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: 50px;
    padding: 0 15px;
  }

  .img-box {
    min-width: 90vw !important;
  }
}
